<div class="flex gap-2.5">

    <button (click)="goBack()" class="w-[38px] border border-blue-600 flex items-center justify-center cursor-pointer bg-transparent hover:bg-slate-100/50 transition-colors" aria-label="Go back">
        <img src="/diplomas/chevron-left.svg" alt="" />
    </button>

    <div class="p-4 flex w-full gap-4 bg-[var(--main-blue)] items-center">
        <img src="/diplomas/book-open-check.svg" alt="" class="w-[45px] h-[45px]" />
        <p class="font-inter text-[32px] font-semibold text-white">{{ title }}</p>
    </div>

</div>