<div class=" p-4 flex min-h-screen items-center justify-center bg-gradient-to-b from-blue-50 to-blue-100 ">

    <section class="max-w-[458px] flex flex-col   ">
        <!-- Logo -->
        <div class=" flex items-center gap-2.5">
            <img src="/auth/folder-code(0).svg" alt="Exam App logo">
            <p class="text-[var(--main-blue)] Blue-Text font-Geist-Mono">Exam App</p>
        </div>

        <!-- Details -->
        <div class="gap-[60px]">
            <p class="Black-Text  mt-[68px] mb-[60px]">
                Empower your learning journey with our smart exam platform.
            </p>

            <!-- List -->
            <ul class="grid gap-9 mb-[68px] font-Geist-Mono">

                <!-- Item 1 -->
                <li class="flex gap-5 ">

                    <div
                        class="w-9 h-9  shrink-0 flex items-center justify-center border-[1.5px] border-[var(--main-blue)]">
                        <img src="/auth/brain(1).svg" alt="" class="w-6 h-6">
                    </div>

                    <div class="gap-2.5">
                        <p class="text-[var(--main-blue)] Blue-Text">Tailored Diplomas</p>
                        <p class="text-gray-700 text-[16px] font-normal">
                            Choose from specialized tracks like Frontend, Backend, and Mobile Development.
                        </p>
                    </div>

                </li>

                <!-- Item 2 -->
                <li class="flex gap-5">

                    <div
                        class="w-9 h-9  shrink-0 flex items-center justify-center   border-[1.5px] border-[var(--main-blue)]">
                        <img src="/auth/book-open-check(2).svg" alt="" class="w-6 h-6">
                    </div>

                    <div class="gap-2.5">
                        <p class="text-[var(--main-blue)] Blue-Text">Focused Exams</p>
                        <p class="text-gray-700 text-[16px] font-normal">
                            Access topic-specific tests including HTML, CSS, JavaScript, and more.
                        </p>
                    </div>

                </li>

                <!-- Item 3 -->
                <li class="flex gap-5">

                    <div
                        class="w-9 h-9 shrink-0 flex items-center justify-center   border-[1.5px] border-[var(--main-blue)]">
                        <img src="/auth/rectangle-ellipsis(3).svg" alt="" class="w-6 h-6">
                    </div>

                    <div class="gap-2.5">
                        <p class="text-[var(--main-blue)] Blue-Text">Smart Multi-Step Forms</p>
                        <p class="text-gray-700 text-[16px] font-normal">
                            Choose from specialized tracks like Frontend, Backend, and Mobile Development.
                        </p>
                    </div>

                </li>

            </ul>
        </div>

    </section>
</div>