<div class="min-h-screen w-[326px] p-10 gap-[60px] bg-blue-50 flex flex-col ">


    <!-- logo -->
    <div class=" flex flex-col gap-2.5  ">

        <img src="/dashboard/Final Logo 1.svg" alt="" class="w-48 h-[37px] ">

        <div class="flex flex-row  gap-2.5 ">
            <img src="/dashboard/folder-code.svg" alt="" class="w-[30px] h-[30px] items-start">
            <p class="font-semibold text-[20px] text-[var(--main-blue)] font-Geist-Mono">Exam App</p>
        </div>

    </div>


    <!-- chooses -->

    <div class=" flex flex-col gap-2.5">

        <!-- 1 -->

        <a routerLink="/dashboard/diplomas" routerLinkActive="bg-blue-100 font-semibold"
            [routerLinkActiveOptions]="{ exact: false, paths: 'subset' }"
            class="flex flex-row gap-2.5 p-4 w-full rounded-lg hover:bg-blue-100 cursor-pointer transition-all duration-200 decoration-transparent">

            <img src="/dashboard/cap.svg" alt="" class="w-6 h-6">
            <p class="font-normal text-[16px]  text-gray-500  font-inter ">Diplomas</p>

        </a>

        <!-- 2 -->

        <a routerLink="/dashboard/settings" routerLinkActive="bg-blue-100 font-semibold"
            class="flex flex-row gap-2.5 p-4 w-full rounded-lg hover:bg-blue-100 cursor-pointer transition-all duration-200 decoration-transparent">

            <img src="/dashboard/user.svg" alt="" class="w-6 h-6">
            <p class="font-normal text-[16px]  text-gray-500  font-inter ">Account Settings</p>

        </a>

    </div>

</div>