<div class="flex flex-col w-full font-Geist-Mono">

    <label class="lable-name">
        {{ label }}@if (required) {<span style="color: #EF4444; margin-left: 2px;">*</span>}
    </label>

    <input type="text" [placeholder]="placeholder" [value]="value" (input)="onInput($event)" (blur)="onBlur()"
        class=" input-placeholder w-full px-4 h-[46px] border text-[14px]  transition-colors duration-200 outline-none"
        [class]="hasError 
          ? 'border-[var(--errors)]  focus:border-[var(--errors)]' 
          : ' focus:border-[var(--main-blue)] border-[var(--border-gray)]' " />

    @if (hasError) {
    <app-input-error-message [fieldLabel]="label" />
    }
</div>