<button [type]="type" [routerLink]="routerLink" (click)="onClick.emit($event)"
    class="w-full h-[46px]  font-Geist-Mono border border-[var(--main-blue)] bg-[#EFF6FF] text-black text-[15px] font-medium flex items-center justify-center gap-2.5 hover:bg-blue-100 transition-colors mt-2">

    <span>{{ text }}</span>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
        class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
</button>