<div class="auth-container flex flex-col md:flex-row min-h-screen w-full">

    <div class="auth-sidebar w-full md:flex-1">
        <app-fixed-side></app-fixed-side>
    </div>

    <div class="auth-content flex-1 flex flex-col justify-center items-center bg-white px-6 py-12 md:py-0">

        <div class="w-full max-w-[440px] flex flex-col gap-6">

            <div class="flex flex-col gap-2.5 mb-6">
                <h1 class="Black-Text">Create a New Password</h1>
                <p class="text-gray-500 text-[16px] font-normal font-Geist-Mono">
                    Create a new strong password for your account.
                </p>
            </div>

            <form class="flex flex-col gap-4 my-4" (submit)="onSubmit($event)">

                <app-password label="New Password" placeholder="••••••••" [value]="password" [hasError]="passwordError"
                    [errorMessage]="passwordErrorMessage" (valueChange)="password = $event"
                    (blurred)="onPasswordBlur()">
                </app-password>

                <app-password label="Confirm New Password" placeholder="••••••••" [value]="confirmPassword"
                    [hasError]="confirmPasswordError" [errorMessage]="confirmPasswordErrorMessage"
                    (valueChange)="confirmPassword = $event" (blurred)="onConfirmPasswordBlur()">
                </app-password>

                <div class="mt-6">
                    <app-primary-button text="Reset Password" type="submit">
                    </app-primary-button>
                </div>

            </form>

            <p class="font-Geist-Mono text-center font-medium text-gray-500 text-[14px]">
                Don't have an account?
                <a routerLink="/register" class="text-[var(--main-blue)] cursor-pointer ms-1.5 hover:underline">
                    Create yours
                </a>
            </p>

        </div>
    </div>
</div>