<app-breadcrumb [items]="breadcrumbItems()"></app-breadcrumb>

<div class="p-6 flex flex-col gap-6 font-inter">
    <app-secondary-header [title]="'Account Settings'"></app-secondary-header>

    <div class="flex flex-col lg:flex-row gap-6 w-full items-start">
        <!-- Account Slider Sidebar -->
        <app-account-slider
            class="flex-shrink-0 w-full lg:w-auto bg-blue-50/50 rounded-lg border border-gray-100"></app-account-slider>

        <!-- Nested Content (Profile / Change Password) -->
        <div class="flex-1 w-full bg-white p-6 rounded-lg border border-gray-100 shadow-sm min-h-[400px]">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>