<app-breadcrumb [items]="breadcrumbItems()"></app-breadcrumb>

<div class="p-6 grid gap-6">
    <app-secondary-header [title]="'Exams'"></app-secondary-header>

    <!-- Exams Container -->
    <div class="w-full grid gap-4">

        @for (exam of exams(); track exam.id) {
        <!-- Exam Card -->
        <div (click)="navigateToExam(exam)"
            class="w-full bg-[#f0f6ff] border border-blue-100 p-4 flex gap-4 items-start cursor-pointer hover:bg-blue-100/50 transition-colors">

            <!-- Icon Box -->
            <div
                class="size-[100px] shrink-0 bg-[#dbeafe] border border-[#bfdbfe] flex items-center justify-center p-2 rounded-sm">
                <img [src]="exam.image || '/diplomas/graduation-cap.svg'" [alt]="exam.title"
                    class="w-full h-full object-contain" />
            </div>

            <!-- Details Content -->
            <div class="flex flex-col justify-between flex-1 gap-1.5">

                <!-- Header Row -->
                <div class="flex items-center justify-between">
                    <h2 class="text-[20px] font-semibold text-[var(--main-blue)] font-Geist-Mono">
                        {{ exam.title }}
                    </h2>

                    <div class="flex items-center gap-1.5 text-xs sm:text-sm text-gray-500 font-sans">
                        <div class="flex items-center gap-2.5">
                            <img src="/diplomas/circle-question-mark.svg" alt="" class="w-[18px] h-[18px]">
                            <span class="font-Geist-Mono font-normal text-[14px] text-gray-800">{{ exam.questionsCount
                                }} Questions</span>
                        </div>

                        <span class="text-gray-300">|</span>

                        <div class="flex items-center gap-1">
                            <img src="/diplomas/timer.svg" alt="" class="w-[18px] h-[18px]">
                            <span class="font-Geist-Mono font-normal text-[14px] text-gray-800">{{ exam.duration }}
                                minutes</span>
                        </div>
                    </div>
                </div>

                <!-- Description Paragraph -->
                <p class="font-Geist-Mono font-normal text-[14px] line-clamp-2 text-gray-500 gap-4">
                    {{ exam.description }}
                    <button class="font-semibold text-black text-[14px] hover:underline"
                        (click)="$event.stopPropagation(); navigateToExam(exam)">
                        See More
                    </button>
                </p>

            </div>

        </div>
        } @empty {
        <div class="col-span-full text-center text-slate-400 font-mono py-12">
            No exams found for this diploma.
        </div>
        }

    </div>
</div>